# ========================
# General
# ========================
.DS_Store
Thumbs.db

# Python cache & build
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
.env/
.env.*

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Data & artifacts (managed by DVC, not Git)
data/**
!data/**/*.dvc
!data/**/.gitignore
artifacts/**
!artifacts/*.dvc
!artifacts/**/*.dvc

!artifacts/
!artifacts/runs_*/
!artifacts/runs_*/nbs/
!artifacts/runs_*/nbs/**
!artifacts/runs_*/nbs/**/*.py

test_notebooks/**
!test_notebooks/*.dvc
!test_notebooks/**/*.dvc
reports/*

# Keep placeholder files
!data/.gitkeep
!artifacts/.gitkeep
!reports/.gitkeep

# ========================
# DVC & MLflow
# ========================
.cache/
.dvc/tmp/
mlruns/

# ========================
# Logs
# ========================
*.log
*.out
*.err
slurm-*.out

# ========================
# Secrets
# ========================
.env
records/*
records/**
results/HumanDiseaseIncreasePast25_Dummy_accuracy_comparison.json results/HumanDiseaseIncreasePast25_Dummy_importance.csv results/HumanVetorDisIncreasePast25_Dummy_accuracy_comparison.json results/HumanVetorDisIncreasePast25_Dummy_importance.csv results/HumanWaterDisIncreasePast25_Dummy_accuracy_comparison.json results/HumanWaterDisIncreasePast25_Dummy_importance.csv results/health_prediction_of_DisasterExpInd.npy results/health_prediction_of_HeardClimate_Dummy.npy results/importnace_basic_HumanDiseaseIncreasePast25_Dummy.xlsx results/importnace_basic_HumanVetorDisIncreasePast25_Dummy.xlsx results/importnace_basic_HumanWaterDisIncreasePast25_Dummy.xlsx results/pdp_array_with_knowledge.npy results/pdp_array_without_knowledge.npy
results/HumanDiseaseIncreasePast25_Dummy_accuracy_comparison.json results/HumanDiseaseIncreasePast25_Dummy_importance.csv results/HumanVetorDisIncreasePast25_Dummy_accuracy_comparison.json results/HumanVetorDisIncreasePast25_Dummy_importance.csv results/HumanWaterDisIncreasePast25_Dummy_accuracy_comparison.json results/HumanWaterDisIncreasePast25_Dummy_importance.csv results/health_prediction_of_DisasterExpInd.npy results/health_prediction_of_HeardClimate_Dummy.npy results/importnace_basic_HumanDiseaseIncreasePast25_Dummy.xlsx results/importnace_basic_HumanVetorDisIncreasePast25_Dummy.xlsx results/importnace_basic_HumanWaterDisIncreasePast25_Dummy.xlsx results/pdp_array_with_knowledge.npy results/pdp_array_without_knowledge.npy
